html, body {
  margin: 0;
  padding: 0;
  height: 120%;
  background-image: url('p.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.merriweather-sans-uniquifier {
  font-family: "Merriweather Sans";
  color: #346473;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 100px;
  padding: 10%;
  margin-left: 1%;
}


.open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

